.banner {
  position: relative;
}
.banner img {
  opacity: 0.5;
  width: 100%;
}
.banner p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
}
.banner p b {
  color: #2fa94e;
}
.nav-wrap {
  padding: 20px;
}
.nav-wrap .row .aside ul {
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.nav-wrap .row .aside ul li {
  text-align: left;
  margin-bottom: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #ccc;
  cursor: pointer;
}
.nav-wrap .row .aside ul li i {
  font-size: 16px;
  margin-right: 5px;
  display: none;
  color: #000;
}
.nav-wrap .row .aside ul li span {
  font-size: 16px;
  color: #000;
}
.nav-wrap .row .aside ul .active {
  background-color: #5cb89e;
}
.nav-wrap .row .aside ul .active i {
  color: #fff;
  display: inline-block;
}
.nav-wrap .row .aside ul .active span {
  color: #fff;
}
.nav-wrap .row .nav-content .about-us {
  margin-bottom: 20px;
}
.nav-wrap .row .nav-content .about-us .container .row .col {
  text-align: left;
}
.nav-wrap .row .nav-content .about-us .container .row .col .jianjie {
  margin-bottom: 30px;
}
.nav-wrap .row .nav-content .about-us .container .row .col .jianjie p {
  font-size: 16px;
  font-family: "Quicksand";
  font-weight: 700;
  color: #70798b;
  margin-bottom: 40px;
}
.nav-wrap .row .nav-content .about-us .container .row .col .jianjie ul {
  padding: 0px 0 15px 35px;
}
.nav-wrap .row .nav-content .about-us .container .row .col .jianjie ul li {
  font-size: 16px;
  list-style-type: disc;
  font-family: "Quicksand";
  font-weight: 700;
  color: #70798b;
  margin-bottom: 30px;
}
.nav-wrap .row .nav-content .about-us .container .row .col .img {
  position: relative;
  text-align: center;
  height: 470px;
}
.nav-wrap .row .nav-content .about-us .container .row .col .img img {
  width: 90%;
  max-width: 440px;
  max-height: 440px;
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
