
@--mainColor2: #BA9859;
.el-popper{
    .el-dropdown-menu__item{
        font-size: 16px;
        &:hover{
            background-color: #BA9859!important;
            color: #fff!important;
        }
    }
}