.el-popper .el-dropdown-menu__item {
  font-size: 16px;
}
.el-popper .el-dropdown-menu__item:hover {
  background-color: #BA9859 !important;
  color: #fff !important;
}
.el-popper .yellow {
  background-color: #BA9859 !important;
  color: #fff !important;
}
.el-overlay .el-overlay-message-box .el-message-box .el-button {
  background-color: #BA9859 !important;
  color: #fff !important;
  border-color: #BA9859;
}
.el-overlay .el-overlay-message-box .el-message-box .el-button:hover {
  background-color: #fff !important;
  color: #BA9859 !important;
}
