
@--mainColor2: #BA9859;
.el-popper{
    .el-dropdown-menu__item{
        font-size: 16px;
        &:hover{
            background-color: #BA9859!important;
            color: #fff!important;
        }
    }
    .yellow{
        background-color: #BA9859!important;
        color: #fff!important;
    }
}
.el-overlay{
    .el-overlay-message-box{
        .el-message-box{
            .el-button{
                background-color: #BA9859!important;
        color: #fff!important;
        border-color: #BA9859;
        &:hover{
            background-color: #fff!important;
            color: #BA9859!important;
        }
            }
        }
    }
}